/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

.navbar {
    background: #E84A5A;
    color: #000000;
    font-weight: bold;
}

.toolbar {
    background: #E84A5A;
    color: #000000;
    font-weight: bold;
}

.page-content {
    background: #2a363b;
    color: white;
    font-weight: bold;
}

a {
    color: #fecea8
}


/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

#map {
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.panel {
    background-color: black;
}

button {
    background-color: #f44336;
    font-size: 16px;
    border-radius: 12px;
}